input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    }

input[type=email] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}
textarea {
    width: 60%;
    height: 150px;
    margin: -16px 0;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
   }

 input[type=submit] {
    margin-left: 30%
   }

.button {
    display: inline-block;
    width: 200px;
    font-size: 16px;
    text-align: center;
    border: none;
    color: purple;
    padding: 15px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

   ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color:white;
}