body { margin: 0; background: white; }
.imgs {
	font-size: 0;
	width: 1503px;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	display: -webkit-box;
	display: flex;
	margin-left: 10%;
	padding-bottom: .5vw;
	padding-left: .5vw;
	padding-right: .5vw;
	padding-top: 0.5vw;
}
.imgs div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 275px; 
  margin: 20px; 
}
.imgs div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  .imgs div { margin: 0; }
  .imgs { padding: 0; }
  
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 100px;
    
  }
  
  .flex-container > div {
    width: 200px;
    margin: 10px;
    text-align: center;
   color: white;
    font-size: 14px;
  }

  .flex-container1 {
    display: flex;
    padding-left: 10%;
    justify-content: left;
    color: white;
    }
  
  .flex-container1 > div {
    width: 90%;
    margin: 10px;
    text-align: left;
    line-height: 75px;
    font-size: 12px;
  }
