li a:hover { 
    background-color: rebeccapurple;
}

ul {
	width: 1920px;
	height: 92px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	line-height: 60px;  
}

li {
    float: right;
    width: 152px;
	height: 92px;
	vertical-align: middle;
	    }

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 13px;
	height: 92px;
}

li a:hover:not(.active) {
	background-color: #0000;
}

.active {
    background-color: rgb(146, 0, 24);
	color: white;
}
